{
  "presets": ["react", "es2015"],
  "plugins": ["add-module-exports"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "presets": ["env" ,"react", "es2015"],
      "plugins": [
        "add-module-exports",
        [ "babel-plugin-webpack-alias", { "config": "<rootDir>/webpack.config.js" } ]
      ]
    }
  }
}
