{
  "extends": ["standard", "standard-jsx", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "rules": {
    "no-useless-escape": 0,
    "prefer-const": ["warn", {
      "destructuring": "all"
    }],
    "no-unused-vars": "warn",
    "no-undef": "warn",
    "no-lone-blocks": "warn",
    "react/prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": "warn",
    "react/no-render-return-value": "warn",
    "react/no-deprecated": "warn",
    "prettier/prettier": ["error"],
    "react/no-unknown-property": [ "error", { "ignore": ["styleName"] } ],
    "camelcase": "off",
    "react/jsx-space-before-closing": "off",
    "react/jsx-tag-spacing": ["error", {
      "beforeSelfClosing": "always",
      "closingSlash": "allow",
      "afterOpening": "allow",
      "beforeClosing": "allow"
    }],
    "no-buffer-constructor": "error",
    "no-self-compare": "error",
    "no-unmodified-loop-condition": "error",
    "no-template-curly-in-string": "error"
  },
  "globals": {
    "FileReader": true,
    "localStorage": true,
    "fetch": true,
    "Image": true,
    "MutationObserver": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "jest": true
  }
}
